<section id="website_page" class="header">
    <div class="text-vertical-center">
	<div class="col-lg-10 col-lg-offset-1">
	    <h2><%= @website.title %></h2>
	    <h2><%= @website.subtitle %></h2>
	    <h4><%= @website.site_url %></h4>
	    <p><%= @website.body %></p>
	</div>
    </div>
</section>
