<!-- Pagination -->
<div class="row text-center">
  <div class="col-lg-12">
    <ul class="pagination">
      <li>
        <a href="whome">&laquo;</a>
      </li>
      <li class="inactive">
	<a href="whome">Poetry</a>
      </li>
      <li class="active">
	<a href="#">OSZine</a>
      </li>
      <li class="inactive">
        <a href="#">&raquo;</a>
      </li>
    </ul>
  </div>
</div>
<!-- /.row -->
<hr>
