<body>
    <!-- Page Content -->
    <div class="container">
        <!-- Project One -->
	<div class="container">
          <div class="row" id="poetry">
	    <div class="col-lg-12 text-left">
	      <h2>Poetry</h2>
	      <div class="col-lg-12">
		<iframe src="https://docs.google.com/document/d/1y3FNHBGPPkS5mOywiLYZOKb7lesfTPeyvAS4Oozp66o/pub?embedded=true" style="width:748px; height:700px; overflow-y: hidden" frameborder="0" scrolling="no" seamless="seamless"></iframe>
	      </div>
	      <div class="col-md-6">
		<iframe src="https://docs.google.com/document/d/1CEm9MvW2g9cPmLORCwTSwxsytoH9PI2O6O5oP3gno_Q/pub?embedded=true" style="width:748px; height:700px; overflow-y: hidden" frameborder="0" scrolling="no" seamless="seamless"></iframe>
	      </div>
	      <div class="col-md-6">
		<iframe src="https://docs.google.com/document/d/1c4mNFyVdXbtOb2N1X5VuZLUwoderZma5iX9RmxeE8-I/pub?embedded=true" style="width:748px; height:700px; overflow-y: hidden" frameborder="0" scrolling="no" seamless="seamless"></iframe>
	      </div>
	      <div class="col-md-6">
		<iframe src="https://docs.google.com/document/d/1nW6mflTdW_dBhVitDRRDoTyQshAq7IRNhAymCqgBp5Y/pub?embedded=true" style="width:748px; height:700px; overflow-y: hidden" frameborder="0" scrolling="no" seamless="seamless"></iframe>
	      </div>
	      <!-- begin later poetry -->
	      <div class="col-md-6">
	      		<iframe src="https://docs.google.com/document/d/1SRVzXsU7gSo8eu0bJxm2sXbDpWslrSIcmfW6EMzgAyA/pub?embedded=true" style="width:748px; height:700px; overflow-y: hidden" frameborder="0" scrolling="no" seamless="seamless"></iframe>
	      </div>
	      <div class="col-md-6">
		<iframe src="https://docs.google.com/document/d/1spKylzWMxjAtz7XcbfDN3rS9gbsTrL_3_EvzshgBpm0/pub?embedded=true" style="width:748px; height:740px; overflow-y: hidden" frameborder="0" scrolling="no" seamless="seamless"></iframe>
	      </div>
	      <div class="col-md-6">
		<iframe src="https://docs.google.com/document/d/10-zHyM8mjSNd9aD5K-2AbAEzeEuB3FpNVtfnneLjxpA/pub?embedded=true" style="width:748px; height:740px; overflow-y: hidden" frameborder="0" scrolling="no" seamless="seamless"></iframe>
	      </div>
	      <div class="col-md-6">
		<iframe src="https://docs.google.com/document/d/1Xoi5lZVIBzndv8Jqmb_LhQ_aV9eAKh5tcg3JbmpfanE/pub?embedded=true" style="width:748px; height:740px; overflow-y: hidden" frameborder="0" scrolling="no" seamless="seamless"></iframe>
	      </div>
	      <div class="col-md-6">
		<iframe src="https://docs.google.com/document/d/1ivpC95SBVBild66_HQaUuClSu-7uw8QcR5CVYcWxWkk/pub?embedded=true" style="width:748px; height:740px; overflow-y: hidden" frameborder="0" scrolling="no" seamless="seamless"></iframe>
	      </div>
	      <div class="col-md-6">
		<iframe src="https://docs.google.com/document/d/13WxCw3Qyf-jAdhpLF8Jx-8a-mg8xcyf6UKtPrv9ZVRo/pub?embedded=true" style="width:748px; height:740px; overflow-y: hidden" frameborder="0" scrolling="no" seamless="seamless"></iframe>
	      </div>
	      <!-- begin sort of old stuff -->
	      <div class="col-md-6">
		<iframe src="https://docs.google.com/document/d/1DbDmvKMqwWgDtEUN5Ut7Hk2vszqYuZEX2bBtXDURssg/pub?embedded=true" style="width:748px; height:700px; overflow-y: hidden" frameborder="0" scrolling="no" seamless="seamless"></iframe>
	      </div>
	      <div class="col-md-6">
		<iframe src="https://docs.google.com/document/d/1QYwMbZ5oKqi5TpiVk03537DjRaine7SknJMjXl_tqrQ/pub?embedded=true" style="width:748px; height:740px; overflow-y: hidden" frameborder="0" scrolling="no" seamless="seamless"></iframe>
	      </div>
	      <div class="col-md-6">
		<iframe src="https://docs.google.com/document/d/1BJ1CXaj2o7wHBperxsqxYyGD7Orr7q2GrDRRkD0eIlw/pub?embedded=true" style="width:748px; height:740px; overflow-y: hidden" frameborder="0" scrolling="no" seamless="seamless"></iframe>
	      </div>
	      <div class="col-md-6">
		<iframe src="https://docs.google.com/document/d/1w7y5_WUhcDImCWZcifYJ3dmbZXscue-IdRXIYUn-_k4/pub?embedded=true" style="width:748px; height:740px; overflow-y: hidden" frameborder="0" scrolling="no" seamless="seamless"></iframe>
	      </div>
	      <!-- end poetry -->
            </div>
	  </div>
	</div>
        <!-- /.row -->
	<hr>
    </div>
    <!-- /.container -->
</body>
