<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Writing</title>
</head>

<body>
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Writing</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
	<div class="container">
          <div class="row" id="poetry">
	    <div class="col-lg-12 text-left">
	      <h2>OS Zine</h2>
	      <h4>The final for my Operating Systems class allowed us to turn in a zine relating to OS concepts. I turned in the following set of poems (and received a 100).</h4>
	      <p>Note: It's currently out of order as the PDF was in zine-printable form, hence any multi-page poem won't carry over as expected. I will fix this soon.</p>
	      <div class="col-lg-12">
		<iframe src="https://docs.google.com/document/d/1BbXAGiPMZlAVmw9pHOiRP2TkvXHt0NwMGupkgoN4fqc/pub?embedded=true" style="width:1028px; height:700px;"></iframe>
	      </div>
            </div>
	  </div>
	</div>
        <!-- /.row -->
	<hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="whome">&laquo;</a>
                    </li>
		    <li class="inactive">
		      <a href="whome">Poetry</a>
		    </li>
                    <li class="active">
		      <a href="#">OSZine</a>
                    </li>
                    <li class="inactive">
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
        <hr>
    </div>
    <!-- /.container -->
</body>

</html>
