<section id="piece_page" class="header">
    <div class="container">
	<div class="text-vertical-center">
	    <div class="row">
		<div class="col-lg-10 col-lg-offset-1">
		    <h2><%= @piece.title %></h2>
		    <h4><%= @piece.url %></h4>
		</div>
	    </div>

	    <div class="row">
		<iframe src=<%= @piece.url %> style="width:748px; height:700px; overflow-y: hidden" frameborder="0" scrolling="no" seamless="seamless"></iframe>
	    </div>
	</div>
    </div>
</section>
