<body>
  <section id="user_page" class="header">
    <div class="text-vertical-center">
      <div class="col-lg-10 col-lg-offset-1">
	<h2><%= @user.name %></h2>
	<h4><%= @user.email %></h4>
	<h4>Created at: <%= @user.created_at %></h4>
      </div>
    </div>
  </section>
</body>
