<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>dwells.co</title>   

    <!-- Custom Fonts 
	 needed for custom fonts -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Devon Wells</h1>
            <h3>artist   //   developer   //   writer</h3>
	    <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
		  <span class="fa-stack fa-4x">
		    <i class="fa fa-circle fa-stack-2x"></i>
		    <i class="fa fa-code fa-spin fa-stack-1x text-primary"></i>
		  </span>
                    <h2>Roanoke raised, Oberlin Computer Science alum, wandering Wisconsin. </h2>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Expressions -->
    <section id="expressions" class="expressions bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Expression</h2>
		    <h4>Here are some ways I like to express myself and others.</h4>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-desktop fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Web Design</strong>
                                </h4>
                                <p>A good friend once told me "There are a lot of hipsters out there with a lot of great ideas and the programming knowledge of a garbage can." At the least, he was right about the ideas.</p>
                                <a href="/webdesign/wdhome" class="btn btn-light">Gallery</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-paint-brush fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Digital Art</strong>
                                </h4>
                                <p>Whether it's Photoshop, Illustrator, GIMP, Procreate, pen, pencil, walls, or napkins, I'll never get tired of drawing.</p>
                                <a href="/dart/arthome" class="btn btn-light">Gallery</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-gamepad fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Game Design</strong>
                                </h4>
                                <p>I've played and made games since I was old enough to use a computer. When people ask me if I had to pick one form of media to stick to, I always reply Game Design. Why? Because it combines all of them.</p>
                                <a href="/gdesign/gamehome" class="btn btn-light">Gallery</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-pencil fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Writing</strong>
                                </h4>
                                <p>"Either write something worth reading or do something worth writing."<br>--Benjamin Franklin</p>
                                <a href="/writing/whome" class="btn btn-light">Gallery</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
</body>

</html>
