<!doctype html> 
<html lang="en"> 
<head> 
	<meta charset="UTF-8" />
	<title>Wisp - a text based exploration</title>

	<!-- Load our javascript files NOTE THAT CORE GAME MUST BE LOADED LAST-->
	<script type="text/javascript" src="js/phaser.min.js"></script>
	<script type="text/javascript" src="/assets/wisp/intro.js"></script>
	<script type="text/javascript" src="/assets/wisp/wisp.js"></script>
	<style type="text/css">
        body {
            margin: 0;
        }
	</style>
</head>

<body>
</body>

</html>
