<!-- just for fun -->
<div class="row-fluid">
    <div class="header2 text-vertical-center" id="splash_photo">
	<%= image_tag "splash_photo.jpg", size: "200x200", alt: "splash photo", class: "img-circle" %>
    </div>
</div>
